*{

}

.foto {
  margin-left: 45%;
  margin-top: -1%;
  border-radius: 5%;
  border: 5px solid black
}

  #header {
    background-color: rgba(57, 131, 131, 0.26);
    background-position: 50% 25%;
    background-size: cover;
    border: 10px solid black
  }
  
  section {
    background-image: url("/home/gusbucker/Imagens/trybe_logo.png");
  }

  body {
    background-image: url("/home/gusbucker/Imagens/Papéis de parede/ematrix.jpg");
  }
  
  h1 {
    color: rgb(2, 2, 1);
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow: 50px;
    margin-top: auto;
  }
  
  h2 {
    color: rgb(2, 2, 1);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  
  p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
  }

  div {
    background-color: rgb(1, 7, 0);
  }

  ul {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center
  }

  .Links {
    background-color: rgba(57, 131, 131, 0.26);
    font-size: large;
    margin: auto;
    text-align: center;
  }
    
